.top_menu_bar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}
.serch_box {
    display: flex;
    align-items: center;
    position: relative;
}

.serch_box > div{
    padding-left: 10px;
    position: absolute;
}

.serch_box > input {
    border: none;
    background-color: #efefef;
    border-radius: 10px;
    width: 236px;
    padding: 10px 16px;
    height: 36px;
}

.serch_box > input:focus {
    outline: none;
}

.serch_box > input::placeholder {
    padding-left: 15px;
}

.right_menu_icons{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_menu_icons > div{
    padding: 0 10px 0 10px;
}

.modal_body{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #cecece;
    display: none;
    justify-content: center;
    align-items: center;;
}

.modal_box{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
}

.modal_title{
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-weight: bold;
    width: 100%;
    height: 5%;
    border-bottom: 1px solid #d0d0d0;
}

.second_title{
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.second_title > form > button {
    border: 0;
    background: white;
    color: #0095f6;
    font-weight: bold;
}

.photo_upload{
    background: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_upload > button {
    color: #ffffff;
    background: #0095f6;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.img_box{
    width: 100%;
    height: 95%;
    display: none;
}
.photo_img{
    padding: 5px;
    width: 70%;
    height: 100%;
    background-color: white;
    overflow: hidden;
}

.content_input{
    background-color: white;
    padding: 20px;
    width: 30%;
}

.content_input > textarea{
    width: 100%;
    height: 100%;
    border: none;
}

.content_input > textarea:focus{
    width: 100%;
    height: 100%;
    outline: none;
}

.photo_img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal_title_info{
    z-index: 10;
    display: none;
    justify-content: space-between;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d0;
}

.modal_center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_center > div > button{
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 10px;
    background: #0095f6;
    color: white;
    font-weight: bold;
    z-index: 10;
}

.content_box{
    display: flex;
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profiles{
    width: 100%;
    height: 300px;
    /* background: gray; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.pr_photo_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    /* background: red; */
}

.pr_photo{
    width: 50%;
    height: 70%;
    border-radius: 70%;
    background: #0095f6;
    overflow: hidden;
}

.pr_photo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pr_info{
    padding: 20px 20px;
    display: flex;
    width: 100%;
    height: 100%;
    /* background: blue; */
}
.pr_account{
    padding: 0 20px 0 0;
    width: 60%;
    display: flex;
    justify-content: start;
    
}

.pr_account > div{
    padding-right: 20px;
}

.pr_edit > button{
    border: 1px solid #c3c1c1; 
    border-radius: 5px; 
    padding: 5px 9px; 
    background-color: white;
}

.feed{
    padding: 5px 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.photo_box{
    padding: 30px 5px;
    width: 30%;
    height: 30%;
    overflow: hidden;
}

.photo_box > img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.photo_box > img:hover{
    opacity: 0.3;
}

.feed_photo:hover{
    opacity: 0.5;
}

.feed_info_modal{
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #b9b9b9;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.feed_info_content{
    width: 70%;
    height: 70%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed_info_photo{
    width: 60%;
    height: 100%;
    background-color: aqua;
    overflow: hidden;
}

.feed_info_photo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feed_info_desc{
    display: flex;
    /* align-items: center;
    justify-content: space-around; */
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.feed_info_account{
    padding: 12px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed_pr_photo{
    /* margin-right: 2%; */
    width: 10%;
    background-color: antiquewhite;
    border-radius: 80%;
    overflow: hidden;
}

.feed_pr_photo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feed_account{
    width: 75%;
    font-weight: bold;
    font-size: 12px;
    /* background-color: blueviolet; */
}

.feed_top_menu{
    width: 5%;
    /* background-color: darkseagreen; */
}

.comment_list{
    width: 100%;
    height: 60%;
    background-color: blue;
}

.like_info{
    width: 100%;
    height: 20%;
    background-color: chartreuse;
}

.comment_write{
    width: 100%;
    height: 10%;
    background-color: darkkhaki;
}


/* 미디어 쿼리 상단 검색창 숨기기 */
@media (max-width: 700px) {
    .serch_box {
        display: none;
    }
}