.top_menu_bar{
    z-index: 10000;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}
.serch_box {
    display: flex;
    align-items: center;
    position: relative;
}

.serch_box > div{
    display: block;
    padding-left: 10px;
    position: absolute;
}

.serch_box > input {
    border: none;
    background-color: #efefef;
    border-radius: 10px;
    width: 236px;
    padding: 10px 16px;
    height: 36px;
}

.serch_box > input:focus {
    outline: none;
}

.serch_box > input::placeholder {
    padding-left: 15px;
}

.right_menu_icons{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_menu_icons > div{
    padding: 0 10px 0 10px;
}

@media (max-width: 700px) {
    .serch_box {
        display: none;
    }
}

.modal_body{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #cecece;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal_content{
    width: 30%;
    height: 60%;
    background: white;
}

.modal_title{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d0;
}

.modal_center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_center > div > button{
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 10px;
    background: #0095f6;
    color: white;
    font-weight: bold;
}
.img_preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_preview > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}