:root {
    --margin: 0 100px;
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.font-weight {
    font-weight: bold;
}

.serch-box2 {
    display: none;
    left: -20px;
    top: 46px;
    width: 300px;
    height: 300px;
    background-color: white;
    border: 1px solid #8e8e8e;
}

.overtext {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

body,
h1,
p {
    margin: 0;
}

.topbox {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 20px;
}

.nav {
    top: 0;
    left: 0;
    right: 0;
    width: 975px;
    position: relative;

}

.logo {
    padding-left: 40px;
    float: left;
    width: 103px;
    height: 29px;
}

.logo>img {
    width: 103px;
}

.serch_input {
    color: rgb(142, 142, 142);
    position: relative;
}

.serch_text {
    padding: 16px;
    width: 236px;
    height: 36px;
    color: rgb(142, 142, 142);
    background: #EFEFEF;
    border: none;
}

.serch_text::placeholder {
    padding-left: 30px;
}

input:focus::placeholder {
    padding-left: 0px;
}

.serch_text:focus {
    padding-left: 20px;
    outline: none;
}

.mag {
    position: absolute;
    left: 30px;
    padding-right: 20px;
}

.menu_icon {
    width: 278px;
}

.icons {
    padding-left: 20px;
}

.content {
    /* max-width: 1300px; */
    position: relative;
    padding: 30px;
}

.feed_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 614px;
    /* margin: auto; */
    /* padding: 0 35% 0 10%;; */
}

.member_info {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    width: 293px;
    height: 300px;
    margin: 0 30px 0 30px;
}

.profile_img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member_story {
    width: 614px;
    height: 119px;
    padding: 0 10px 0 10px;
    margin-bottom: 24px;
    border: 1px solid #dbdbdb;
}

.account_info {
    width: 614px;
    height: 60px;
    border: 1px solid #dbdbdb;
}

.photo {
    width: 614px;
    border: 1px solid #dbdbdb;
    border-bottom: none;
}

/* .slider_img > img{
    width: 614px;
    height: 400px;
} */
/* .carousel-item > img {
    width: 614px;
    height: auto !important;
} */

.like_button {
    width: 614px;
    height: 54px;
}

.like-text {
    padding: 0px 16px 0 16px;
    margin-bottom: 8px;
}

.like_info {
    width: 100%;
    height: 18px;
    font-weight: bold;
}

.comment_count {
    padding: 0 16px 0 16px;
    width: 614px;
    height: 18px;
}

.c_count {
    padding: 0 16px 0 16px;
    width: 614px;
    height: 18px;
    color: #8e8e8e;
}

.time {
    padding: 0 16px 0 16px;
    width: 614px;
    height: 18px;
    color: #8e8e8e;
    font-size: 8px;
}

.comment_text {
    width: 400px;
}

.content_t {
    width: 233px;
}

.write_content {
    width: 614px;
    padding: 0 16px 0 16px;
}

.comment-heart {
    right: 0px;
    font-size: 5px;
}

.comment {
    width: 100%;
    height: 18px;
    background-color: rgb(77, 255, 0);
}

.comment_info_box {
    width: 614px;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;

}

.comment_write {
    padding: 6px 8px;
    ;
    width: 614px;
    height: 53px;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}

.comment_input>input {
    width: 514px;
    height: 18px;
    border: none;
}

.comment_input>input:focus {
    outline: none;
}

.account_profile {
    width: 293px;
    height: 56px;
    padding: 16px 0px;
}

.member_recommend {
    width: 325px;
    height: 19px;
    padding: 16px 0px;
}

.follow_member {
    width: 321px;
    height: 48px;
}

.member_follow_button {
    right: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #0095f6;
}

.follow_member_img {
    width: 32px;
    height: 32px;
    border-radius: 70%;
    overflow: hidden;
}

.follow_member_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story_box {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: .01em;
    max-width: 74px;
    font-size: .8em;
}

.story_list {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin: 7px;
    overflow: hidden;
    border: 2px solid #e81c1c;
}


.story_list>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account_info_box {
    padding: 16px;
    width: 566px;
    height: 60px;
}

.thum_img {
    width: 32px;
    height: 32px;
    /* padding: 10px; */
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #e81c1c;
}

.thum_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account_name {
    margin-left: 14px;
}

.account_sub_menu {
    right: 20px;
}

.like_button_box {
    padding: 6px 16px 8px 16px;
}

.like_button>div {
    font-size: 17px;
}

.left-margin-15 {
    margin-left: 15px;
}

.save_button {
    right: 15px;
    font-size: 18px;
}

.footer {
    padding: 30px 0px;
    font-size: 12px;
    color: #c7c7c7;
}

@media (max-width: 1300px) {
    .member_info {
        display: none;
    }

    /* .feed_content{
        margin: 0 150px;
    } */
}

.profile {
    width: 56px;
    height: 56px;
    border-radius: 70%;
    overflow: hidden;
}

.profile>img {
    width: 100%;
    height: 100%;
    border-radius: 70%;
    object-fit: cover;
}

.account_change {
    right: 0px;
    font-size: 12px;
    font-weight: bold;
    color: #0095f6
}

.feedimg {
    width: 100%;
    height: 700px !important;
}

.all-view {
    right: 48px
}

.like_button_click {
    color: red;
    display: none;
    margin-left: 0px;
}

.like_button_no_click {
    display: block;
}

.bx-wrapper {
    border: 0;
    background: #fbfbfb;
    box-shadow: none;    
}
.bx-pager{
    top: 730px;
    color: white
}

.bx-pager-link{
    color: white
}

.hidden {
    height: 100%;
    min-height: 100%;
    overflow: hidden !important;
    touch-action: none;
}